.theme-one-dark-ui {
  .tab-bar { font-size: 18px; }
  .tree-view { font-size: 1px; }
  .status-bar { font-size: 20px; }

  // Highlight selected text
  atom-text-editor::shadow .selection .region {
    background-color: yellow;
  }
}
